body {
    font-family: Arial, sans-serif;
    background-image: url(images/pexels-padrinan-194096.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.475);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 22px);
    font-size: 15px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
